<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>
    <link rel="stylesheet" href="/css/adminCss/pintuer.css">
    <link rel="stylesheet" href="/css/adminCss/admin.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/pintuer.js"></script>
</head>
<body>


<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 试题列表</strong></div>
    <table class="table table-hover text-center">
        <tr>
            <th width="5%">ID</th>
            <th>试题主干</th>
            <th width="250">操作</th>
        </tr>
        <%for(var i=0;i< rows1.length;i++){%>
        <tr>
            <td><%=rows1[i].id%></td>
            <td attr="<%=rows1[i].id%>"><%=rows1[i].about%></td>
            <td>
                <div class="button-group">
                    <a type="button" class="button border-main" href="/admin/editQuestion/<%=rows1[i].id%>"><span class="icon-edit"></span>修改试题</a>
                    <a class="button border-red" href="javascript:;" attr="<%=rows1[i].id%>"><span class="icon-trash-o"></span> 删除</a>
                </div>
            </td>
        </tr>
        <%}%>
    </table>
</div>




</body>
<script>
    $(function(){
        $(".border-red").click(function(){
            var tid=$(this).attr("attr");
            if(confirm("你确定要删除吗？")){
                $.ajax({
                    url:"/admin/editDelete",
                    type:"post",
                    data:{id:tid},
                    success:function(e){
                        if(e){
                            alert("删除成功！！")
                            location.href="/admin/editOption"
                        }
                    }
                })
            }
        })

    })
</script>
</html>