<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>我的</title>
    <link rel="stylesheet" href="/css/indexCss/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/css/indexCss/mui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/indexCss/style.min.css">
    <link rel="stylesheet" href="/css/indexCss/t_style.css">
    <script src="/js/indexJs/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>


<!--顶部-->
<nav class="navbar navbar-header navbar-fixed-top text-center" style="background-color:#0e77ca;color: #fff;font-size:0.16rem;line-height: 0.5rem;">
    我的
</nav>

<!--内容区域-->
<div class="my">
    <div class="my_info">
        <i style="background:url('/img/indexImg/exam_icon2.png') center center no-repeat;background-size:100%;"></i>
        <span class="con">个人信息</span>
        <a href="/student/userInfo"></a>
    </div>
    <div class="my_info">
        <i style="background:url('/img/indexImg/exam_icon2.png') center center no-repeat;background-size:100%;"></i>
        <span class="con">修改密码</span>
        <a href="/student/user_psw"></a>
    </div>
    <div class="my_info">
        <i style="background:url('/img/indexImg/exam_icon2.png') center center no-repeat;background-size:100%;"></i>
        <span class="con">错题整理</span>
        <a href="/student/examErr"></a>
    </div>
</div>

<!--底部-->
<div class="footer">
    <a class="catalog" href="/student/">
        <div class="icon">
            <img src="/img/indexImg/home_icon2.png" alt="加载失败">
        </div>
        <div class="title ">主页</div>
    </a>
    <a class="catalog" href="/student/exam">
        <div class="icon">
            <img src="/img/indexImg/exam_icon.png" alt="加载失败">
        </div>
        <div class="title">考试</div>
    </a>
    <a class="catalog" href="/student/mine">
        <div class="icon">
            <img src="/img/indexImg/my_icon2.png" alt="加载失败">
        </div>
        <div class="title checked">我</div>
    </a>
</div>

</body>
</html>